@page "/admin/productos"
@using JhiroServer.Services
@using JhiroServer.Models
@inject ProductoService ProductoService
@inject IJSRuntime JsRuntime
<h1>Productos</h1>

<p>
    <a href="/admin/productos/create">Create New</a> |
    <a href="/admin/productos/eliminados">View Deleted Products</a>
</p>


@if (productos == null)
{
    <p><em>Cargando...</em></p>
}
else if (productos.Count == 0)
{
    <p>No hay productos disponibles.</p>
}
else
{
    @if (productos != null && productos.Count > 0)
    {
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>ImagenUrl</th>

                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in productos)
                    {
                        <tr>
                            <td data-label="Nombre">@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Precio</td>
                            <td>@item.Stock</td>
                            <td width="10px"><img src="@item.ImagenUrl" class="card-img-top" alt="@item.Nombre" @onclick="() => ShowModal(item.ImagenUrl)"></td>

                            <td>
                                <a href="/admin/productos/edit/@item.ProductoId">Edit</a> |
                                <a href="/admin/productos/details/@item.ProductoId">Details</a> |
                                <a href="/admin/productos/delete/@item.ProductoId">Delete</a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else{    
        <p>No se encontraron productos.</p>
    }
    

}
<div id="imageModal" class="modal">
    <div class="modal-content">
        <span class="close" @onclick="CloseModal">&times;</span>
        <img id="modalImage" src="" alt="Imagen en grande">
    </div>
</div>

@code {
    private List<Producto> productos;

    protected override async Task OnInitializedAsync()
    {
        productos = await ProductoService.GetProductosAsync();
    }
    private async Task ShowModal(string imageUrl)
    {
        await JsRuntime.InvokeVoidAsync("setImageModalSrc", imageUrl);
        await JsRuntime.InvokeVoidAsync("showImageModal");
    }

    private async Task CloseModal()
    {
        await JsRuntime.InvokeVoidAsync("hideImageModal");
    }
}

