@page "/admin/productos/details/{ProductoId:int}"
@using JhiroServer.Services
@using JhiroServer.Models
@inject ProductoService ProductoService
@inject IJSRuntime JsRuntime

<h1>Detalles del Producto</h1>

@if (producto == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="card" style="width: 18rem;">
        <img src="@producto.ImagenUrl" class="card-img-top" alt="@producto.Nombre" @onclick="() => ShowModal(producto.ImagenUrl)">
        <div class="card-body">
            <h5 class="card-title">@producto.Nombre</h5>
            <p class="card-text">@producto.Descripcion</p>
            <p class="card-text"><strong>Precio:</strong> @producto.Precio</p>
            <p class="card-text"><strong>Stock:</strong> @producto.Stock</p>
            <p class="card-text"><strong>Eliminado:</strong> @(producto.Eliminado ? "Sí" : "No")</p>
            <p class="card-text"><strong>Categoría ID:</strong> @producto.CategoriaId</p>
            <a href="/admin/productos/edit/@producto.ProductoId" class="btn btn-primary">Editar</a>
            <a href="/admin/productos" class="btn btn-secondary">Volver</a>
        </div>
    </div>
}
<div id="imageModal" class="modal">
    <div class="modal-content">
        <span class="close" @onclick="CloseModal">&times;</span>
        <img id="modalImage" src="" alt="Imagen en grande">
    </div>
</div>

@code {
    [Parameter]
    public int ProductoId { get; set; }

    private Producto producto;

    protected override async Task OnInitializedAsync()
    {
        producto = await ProductoService.GetProductoByIdAsync(ProductoId);
    }
    private async Task ShowModal(string imageUrl)
    {
        await JsRuntime.InvokeVoidAsync("setImageModalSrc", imageUrl);
        await JsRuntime.InvokeVoidAsync("showImageModal");
    }

    private async Task CloseModal()
    {
        await JsRuntime.InvokeVoidAsync("hideImageModal");
    }
}
