@page "/admin/productos/eliminados"
@using JhiroServer.Services
@using JhiroServer.Models
@inject ProductoService ProductoService
@inject IJSRuntime JsRuntime

<h1>Productos Eliminados</h1>

@if (productosEliminados == null)
{
    <p><em>Cargando...</em></p>
}
else if (productosEliminados.Count == 0)
{
    <p>No hay productos eliminados.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in productosEliminados)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Precio</td>
                    <td>@item.Stock</td>
                    <td width="10px">
                        <img src="@item.ImagenUrl" class="card-img-top" alt="@item.Nombre" @onclick="() => ShowModal(item.ImagenUrl)">
                    </td>
                    <td>
                        <a href="/admin/productos/restaurar/@item.ProductoId">Restaurar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div id="imageModal" class="modal">
    <div class="modal-content">
        <span class="close" @onclick="CloseModal">&times;</span>
        <img id="modalImage" src="" alt="Imagen en grande">
    </div>
</div>

@code {
    private List<Producto> productosEliminados;

    protected override async Task OnInitializedAsync()
    {
        productosEliminados = await ProductoService.GetProductosEliminadosAsync();
    }

    private async Task ShowModal(string imageUrl)
    {
        await JsRuntime.InvokeVoidAsync("setImageModalSrc", imageUrl);
        await JsRuntime.InvokeVoidAsync("showImageModal");
    }

    private async Task CloseModal()
    {
        await JsRuntime.InvokeVoidAsync("hideImageModal");
    }
}
